set (autostart ${PLUGIN_RESOURCEMONITOR_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.ResourceMonitor")

if(PLUGIN_RESOURCEMONITOR_STARTUPORDER)
set (startuporder ${PLUGIN_RESOURCEMONITOR_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_RESOURCEMONITOR_STARTMODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
        kv(psi_checking_enabled True)
        kv(zram_checking_enabled True)
        kv(psi_path "/proc/pressure/memory")
        kv(psi_metrics "full_avg60")
        kv(psi_excess_duration 50000)
        kv(psi_post_action_delay 1000000)
        kv(flash_space_for_hibernated_apps_size 300)
        kv(flash_space_for_hibernated_apps_mount_point "/mnt/media/apps/hibernated_apps")
        kv(polling_interval 5000)
        kv(low_memory_warnings_enabled True)
        kv(warning_threshold_min_mem 300000)
        kv(warning_threshold_max_swap_percentage 40)
        kv(warning_threshold_max_psi 1)
        kv(soft_threshold_delta_percentage 10)
        kv(hard_threshold_delta_percentage 20)
        kv(min_post_warning_delay 60)

    end()
end()
ans(configuration)